/* Hero Section */
#hero {
    height: 100vh;
    background: url("assets/images/hero-image.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

#hero-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#hero-text p {
    font-size: 1.2rem;
}
